<link rel="stylesheet" href="/css/nav.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<nav class="navbar navbar-expand-sm navbar-light bg-custom py-2">
  <div class="container" style="margin-left: 15%; margin-right: 10%">
    <h5 class="mt-3" style="cursor: pointer" onclick="location.href='/'">
      JANDY NOVEL
    </h5>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-around mx-5 mt-3">
        <a href="/" class="me-5 nav">추천</a>
        <a href="/novels/category/전체" class="me-5 nav nav_focus">카테고리</a>
      </div>
      <ul class="navbar-nav ms-auto">
        <form
          class="d-flex form-inline mt-2 me-5"
          method="post"
          action="/novels/category"
          name="search"
        >
          <input
            class="search"
            type="search"
            name="keyword"
            placeholder=""
            aria-label="Search"
          />

          <span
            class="material-symbols-outlined search"
            onclick="document.forms['search'].submit();"
          >
            search
          </span>
        </form>
        <li class="nav-item mt-1">
          <a href="/novels/category/전체" class="nav-link"
            ><span class="material-symbols-outlined icon"> list </span></a
          >
        </li>
        <% if(isAuthenticated){ %>
          <li class="nav-item mt-1">
          
            <span id="person" style="cursor: pointer; padding:8px" class="material-symbols-outlined icon"> person </span></
          
        </li>
        <li class="nav-item mt-1">
          <a href="/logout" class="nav-link"
            ><span class="material-symbols-outlined icon"> logout </span></a
          >
        </li>
        <% } else { %>

        <li class="nav-item mt-1">
          <a href="/login" class="nav-link"
            ><span class="material-symbols-outlined icon"> login </span></a
          >
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<% if(isAuthenticated){ %>
<div class="modal_box">
  <div class="modal_content">
    <div class="d-flex flex-column">
      <span class="mx-auto p-2 name"><%= currentUser.name %>님</span>
      <div class="d-flex justify-content-between bg_gray p-1 m-2">
        <span class="material-symbols-outlined"> potted_plant </span>
        <span style="color: #9acd32"><%= currentUser.seed %></span>
      </div>
      <div class="d-flex flex-column">

        <div class="d-flex justify-content-around">
          <div class="d-flex flex-column" onclick="location.href='/users/library'">
            <span class="material-symbols-outlined icon_ft">
              menu_book
            </span>
            <p>서재</p>
          </div>
          <div class="d-flex flex-column"onclick="location.href='/users/work'">
            <span class="material-symbols-outlined icon_ft"> edit </span>
          <p>연재</p>
          </div>
  
        </div>
        <div class="d-flex justify-content-around">
          <div class="d-flex flex-column" onclick="location.href='/users/cash'">
            <span class="material-symbols-outlined icon_ft">
              psychiatry
             </span>
                       <span>씨앗</span>
          </div>
         
          <div class="d-flex flex-column" onclick="location.href='/users/detail'">
            <span class="material-symbols-outlined icon_ft">
              credit_card
            </span>
            <span>내역</span>
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#person").click(function () {
    $(".modal_box").fadeIn();
  });

  $(document).mouseup(function () {
    if ($(".modal_box").is(":visible")) {
      $(".modal_box").fadeOut();
    }
  });
</script>
<% }%>