<div class="col-2">
  <h3>마이잔디</h3>
  <div class="d-flex flex-column mt-5">
    <h5><a href="/users/myjandy">마이잔디홈</a></h5>
    <hr />
    <h5>서재</h5>
    <ul class="nav flex-column">
      <li class="nav-item p-1">
        <a class="nav-link" href="/users/work">내 작품</a>
      </li>
      <li class="nav-item p-1">
        <small></small>
      </li>
    </ul>
    <hr />
    <h5>구매/결제</h5>
    <ul class="nav flex-column">
      <li class="nav-item p-1">
        <a class="nav-link" href="/users/detail">결재내역</a>
      </li>
      <li class="nav-item p-1">
        <a class="nav-link" href="/users/cash">잔디씨앗</a>
      </li>
    </ul>
    <hr />
  </div>
</div>
