<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <div
      class="navbar-brand"
      onclick="location.href='/'"
      style="cursor: pointer"
    >
      JandyNovel
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <form
          class="d-flex form-inline me-5"
          method="post"
          action="/novels/category"
        >
          <input
            class="form-control mr-sm-2"
            type="search"
            name="keyword"
            placeholder="검색해보기"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-success my-2 my-sm-0"
            style="white-space: nowrap"
            type="submit"
          >
            검색
          </button>
        </form>
        <li class="nav-item">
          <a href="/novels/category/전체" class="nav-link">카테고리</a>
        </li>
        <% if(isAuthenticated){ %>
        <li class="nav-item">
          <a href="/users/myjandy" class="nav-link">마이페이지</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">로그아웃</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a href="/users/signup" class="nav-link">회원가입</a>
        </li>
        <li class="nav-item"><a href="/login" class="nav-link">로그인</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
