<!-- views/users/show.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="col-2">
          <h3>마이잔디</h3>
          <div class="d-flex flex-column mt-5">
            <h5><a href="/users/myjandy">마이잔디홈</a></h5>
            <hr />
            <h5>소설</h5>
            <ul class="nav flex-column">
              <li class="nav-item p-1">
                <a class="nav-link" href="#">선호작품</a>
              </li>
              <li class="nav-item p-1">
                <small></small>
              </li>
            </ul>
            <hr />
            <h5>구매/결제</h5>
            <ul class="nav flex-column">
              <li class="nav-item p-1">
                <a class="nav-link" href="#">결재내역</a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link" href="#">잔디씨앗</a>
              </li>
            </ul>
            <hr />
            <h5>개인</h5>
            <ul class="nav flex-column">
              <li class="nav-item p-1">
                <a class="nav-link" href="#">1:1 문의</a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link" href="#">정보변경</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-8 ms-5 flex-fill">
          <div class="d-flex m-3 my-auto border">
            <div class="d-flex flex-column align-self-center border p-2">
              <img src="/img/user.png" alt="user" />
              <h4><%= currentUser.name %></h4>
              <small><%= currentUser.email %></small>
            </div>
            <ul class="nav flex-row flex-fill border">
              <li class="flex-fill border">
                <div class="d-flex flex-column align-items-center">
                  <p>이미지</p>
                  <p>내 서재</p>
                  <p>권 수</p>
                </div>
              </li>
              <li class="flex-fill border">
                <div class="d-flex flex-column align-items-center">
                  <p>이미지</p>
                  <p>내 작품</p>
                </div>
              </li>
              <li class="flex-fill border">
                <div class="d-flex flex-column align-items-center">
                  <p>이미지</p>
                  <p>내 씨앗</p>
                  <p>씨앗 개수</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="d-flex row mt-5">
            <h5>> 최근본 작품</h5>
            <div class="row justify-content-around m-auto my-3">
              <div class="card" style="width: 18rem">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card" style="width: 18rem">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card" style="width: 18rem">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
