<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container my-5">
      <ul class="nav">
        <li class="nav-item border border-success rounded-start">
          <a class="nav-link active" href="#">전체</a>
        </li>
        <li class="nav-item border border-success">
          <a class="nav-link" href="#">판타지</a>
        </li>
        <li class="nav-item border border-success">
          <a class="nav-link" href="#">로맨스</a>
        </li>
        <li class="nav-item border border-success rounded-end">
          <a class="nav-link" href="#">무협</a>
        </li>
      </ul>
      <div class="d-flex my-5 flex-column">
        <h4 class="border-bottom"style="width: 5%">전체</h4>
        <div class="d-flex flex-wrap justify-content-between my-2">
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
          <div class="card m-1" style="width: 23%;">
            <img class="card-img-top" src="/img/jandy_logo.png" alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title">책제목</h5>
              <p class="card-text">작가 및 별점</p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>

