<!-- views/posts/new.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container mb-3 mt-5">
      <h3>새 작품 등록</h3>
      <form id="form"action="/novels" method="post" enctype="multipart/form-data">
        <div class="form-group my-1">
          연재 주기
          <label><input type="checkbox" name="cycle" value="월" /> 월</label>
          <label><input type="checkbox" name="cycle" value="화" /> 화</label>
          <label><input type="checkbox" name="cycle" value="수" /> 수</label>
          <label><input type="checkbox" name="cycle" value="목" /> 목</label>
          <label><input type="checkbox" name="cycle" value="금" /> 금</label>
          <label><input type="checkbox" name="cycle" value="토" /> 토</label>
          <label><input type="checkbox" name="cycle" value="일" /> 일</label>
          <label
            ><input class="chk"type="checkbox" name="cycle" value="자유" checked/> 자유</label
          >
        </div>
        <div class="form-group my-1">
          장르
          <label
            ><input type="radio" name="category" value="판타지"  required/> 판타지</label
          >
          <label
            ><input type="radio" name="category" value="로맨스" /> 로맨스</label
          >
          <label
            ><input type="radio" name="category" value="무협" /> 무협</label
          >
        </div>
        <div class="form-group my-1">
          <label for="title">제목</label>
          <input
            type="text"
            id="title"
            name="title"
            value=""
            class="form-control"
            required
          />
        </div>

        <div class="form-group my-1">
          <label for="content">작품소개</label>
          <textarea
            id="content"
            name="content"
            rows="5"
            class="form-control"
            required
          ></textarea>
        </div>
        <div class="form-group my-3">
          <input
            type="file"
            id="upload"
            name="upload"
            onchange="readURL(this);"
            required
          />
        </div>
        <img class="form-group my-1" id="preview"></img>
        <div>
          <a class="btn btn-primary" href="/users">Back</a>
          <button type="submit" class="btn btn-primary" onclick="chk();" >등록하기</button>
        </div>
      </form>
    </div>
    <div class="errors">
      <% if(locals.errors) { %>
      <%= errors %> 
      <% } %>
    </div>
  </body>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById("preview").src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      } else {
        document.getElementById("preview").src = "";
      }
    }
    function chk(){
      if(!$('input[name=cycle]').is(':checked')){
        $('.chk').prop('checked', true);
      }
    }
  </script>
</html>
