<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container my-5">
     
      </div>

      <%- include('../partials/editor') %>
    </div>
  </body>
</html>
