<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container my-5">
      <h4 class="my-5">연재</h4>
      <%- include('../partials/editor') %>
    </div>
  </body>
</html>
