<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/viewer.css" />
  </head>
  <body>
    <nav
      class="viewer d-flex px-5 justify-content-around align-items-center fixed-top"
    >
      <div class="title">제목들어갈곳</div>
      <div class="link">
        <a href="#">이전화</a> |
        <a href="#">다음화</a>
      </div>
    </nav>
    <div class="d-flex justify-content-between py-3 align-items-center">
      <div><%= post %></div>
    </div>
  </body>
</html>
