<html>
  <head>
    <%- include('../partials/head') %>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-html@3.4.0/build/edjsHTML.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container my-5">
      <h4 class="my-5">연재</h4>
      <%- include('../partials/editor') %>
    </div>
  </body>
</html>
